services:
  web:
    build:
      dockerfile: src/PetFamily.WebAPI/Dockerfile
      context: .
    env_file:
      - "src/PetFamily.WebAPI/etc/.env"
    ports: 
      - "8080:8080"
    depends_on:
      - postgres
      - seq
      - minio
    restart: always
  postgres:
    container_name: postgres
    image: postgres
    restart: always
    environment:
      POSTGRES_DB: pet_family
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5434:5432"
    volumes:
        - postgres-data:/var/lib/postgresql/data
  seq:
    image: datalust/seq:latest
    container_name: seq
    restart: always
    environment:
      - ACCEPT_EULA=Y
    ports:
      - "5431:5431"
      - "8081:80"
  minio:
    container_name: minio
    image: minio/minio
    restart: always
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes: 
      - minio-data:/data
    command: server --console-address ":9001" /data
  nginx:
    container_name: nginx
    image: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - web
    restart: always
    
    
volumes:
  postgres-data:
  minio-data:


  